application/schr-scheduler/esu-sae-listener-scheduler/sae-listener-application/src/main/resources/META-INF/wsdl/consentInfoService/consentInfo.consentInfoService.v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nsf="http://emias.mos.ru/system/v1/faults/" xmlns:uctx="http://emias.mos.ru/system/v1/userContext/" xmlns:tns="http://emias.mos.ru/consentInfo/consentInfoService/v2/" xmlns:tpns="http://emias.mos.ru/consentInfo/consentInfoService/v2/types/" name="consentInfo" targetNamespace="http://emias.mos.ru/consentInfo/consentInfoService/v2/">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://emias.mos.ru/system/v1/userContext/" schemaLocation="../emias/emias.system.v1.userContext.xsd"/>
			<xs:import namespace="http://emias.mos.ru/system/v1/faults/" schemaLocation="../emias/emias.system.v1.faults.xsd"/>
			<xs:import namespace="http://emias.mos.ru/consentInfo/consentInfoService/v2/types/" schemaLocation="consentInfo.consentInfoService.v2.types.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fault">
		<wsdl:documentation>Ошибка</wsdl:documentation>
		<wsdl:part name="body" element="nsf:fault"/>
	</wsdl:message>
	<wsdl:message name="userContext">
		<wsdl:documentation>Контекст пользователя</wsdl:documentation>
		<wsdl:part name="userContext" element="uctx:userContext"/>
	</wsdl:message>
	<wsdl:message name="findConsentInfoRequest">
		<wsdl:part name="body" element="tpns:findConsentInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="findConsentInfoResponse">
		<wsdl:part name="body" element="tpns:findConsentInfoResponse"/>
	</wsdl:message>

	<wsdl:portType name="consentInfoServicePortType">
		<wsdl:operation name="findConsentInfo">
			<wsdl:input message="tns:findConsentInfoRequest"/>
			<wsdl:output message="tns:findConsentInfoResponse"/>
			<wsdl:fault name="fault" message="tns:fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="consentInfoServiceBinding" type="tns:consentInfoServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="findConsentInfo">
			<soap:operation soapAction="urn:findConsentInfo" soapActionRequired="true"/>
			<wsdl:input name="findConsentInfoRequest">
				<soap:header message="tns:userContext" part="userContext" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="findConsentInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="consentInfoService">
		<wsp:PolicyReference URI="#authPolicy"/>								  
		<wsdl:port name="consentInfoPort" binding="tns:consentInfoServiceBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="authPolicy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
		<sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<wsp:Policy>
						<sp:NoPassword/>
					</wsp:Policy>
				</sp:UsernameToken>
			</wsp:Policy>
		</sp:SupportingTokens>
	</wsp:Policy>
</wsdl:definitions>
